ul {
  width: 250px;
  padding: 10px;
  margin-right: auto;
  margin-left: auto;

  background-color: aquamarine;
  list-style: none;
}

.title {
  text-align: center;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 10px;
}
